@font-face {
    font-family: 'ComicSansCustom';
    src: url('/fonts/comic-sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
* {
    font-family: 'ComicSansCustom', cursive;
}
  
html[data-theme='light'] {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
}

html[data-theme='dark'] {
    background-color: #091a28;
    color: #ebf4f1;
}

html[data-theme='sepia'] {
    background-color: #f1e7d0;
    color: #433422;
}
  